.searchBox {
    display: table;
    border: 1px solid #e5eced;
    border: 1px solid #cacccd;
    &:focus,
    &:active {
        border-color: #0BA3DD;
        outline: none;
    }
    width: 100%;
}

.searchFieldContainer {
    width: auto;
    display: table-cell;
}

.searchField {
    width: 100%;
    height: 44px;
    padding: .5em 1em;
    font-size: 1rem;
    text-transform: uppercase;
    border: 0;
    border-radius: 0px;
    &::placeholder {
        text-transform: none;
    }
    &:focus,
    &:active {
        outline: none;
    }
}

.searchBtn {
    display: table-cell;
    vertical-align: middle;
    height: 44px;
    font-size: 1rem;
    padding-left: 16px; // padding-top: 9px;
    border: 0;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.searchBtnIcon {
    height: 19px;
    color: #0BA3DD;
}