.footer {
    background-color: #0BA3DD;
    min-width: 100%;
    padding: 15px 80px;
    color: white;
}

.mobileAppInfo {
    border-right: 2px solid white;
    padding-right: 20px;
}

.ussdInfo {
    padding-left: 20px;
}

.mobileAppInfo,
.ussdInfo {
    display: table-cell;
    vertical-align: middle;
}

.mobileIcon {
    background: url('/icons/mobile_icon.png') center center/100% 100% no-repeat;
    height: 60px;
    width: 40px;
    margin-right: 10px;
    display: table-cell;
}

.mobileText {
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.ussdText {
    text-transform: uppercase;
}

.ussdChannel {
    font-size: 0.9em;
}