.filterContainer {
    position: relative;
    height: 100%;
    width: 50px;
}

.filterBtn {
    background: white;
    display: table;
    width: 100%;
    height: 100%;
    border: 1px solid #cacccd;
    cursor: pointer;
    &.selected {
        background: #189ad1;
        border: 1px solid #189ad1;
    }
    &.hide {
        display: none;
    }
}

.filterBtnIcon {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
}

.filterBtnLabel {
    display: table-cell;
    vertical-align: middle;
    color: #a9a9a9;
    padding-right: 5px;
    padding-left: 5px;
    &.selected {
        color: #ffffff;
    }
}

.filterIcon {
    height: 20px;
}

.filterContent {
    position: absolute;
    margin-top: 10px;
    background: white;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    min-width: 250px;
    max-width: 500px;
}

.filterContent.hide {
    display: none;
}

.filterClear {
    display: flex;
    align-items: center;
    color: #189ad1;
    margin-bottom: 16px;
    font-size: 12px;
    cursor: pointer;
}

.filterTitle {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #189ad1;
    padding-bottom: 7px;
}

.filterItem {
    margin-top: 16px;
}

.statuses {
    display: flex;
}

.issues {
    display: flex;
    flex-wrap: wrap;
}