.cardContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    padding: 6px 22px;
    background: #fafafa;
    box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.4);
    height: 100%;
}

.closeBtn {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-size: 18px;
    color: #a5a5a5;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
}

.closeBtn:hover {
    color: #6a6a6a;
}

.serviceName {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 0 15px;
    border-bottom: 1px solid #c3c3c3;
}

.item {
    border-bottom: 1px solid #c3c3c3;
    padding: 10px 0;
}

.itemLeft,
.itemRight {
    vertical-align: top;
    display: inline-block;
    width: 50%;
}

.itemTitle {
    display: inline-block;
    font-weight: bold;
    color: #026AA7;
}

.itemTitle.horizontal {
    padding-right: 5px;
}

.itemTitle.vertical {
    padding-bottom: 3px;
}

.itemValue {
    display: block
}

.itemValue.horizontal {
    display: inline-block;
}

.timelineContainer {
    width: 100%;
    background: white;
    height: 250px;
    overflow-y: auto;
    margin-top: 15px;
}

.timeline {
    margin: 20px 0;
    display: inline-block;
}

.timelineItem {
    list-style: none;
    margin: auto;
    min-height: 50px;
    border-left: 1px dashed #86D6FF;
    padding: 0 0 50px 30px;
    position: relative;
}

.timelineItem:last-child {
    border-left: 0;
}

.timelineItem::before {
    position: absolute;
    left: -11px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.timelineDetail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}