.container {
    width: 100%;
    padding-right: 20px;
}

.item {
    line-height: 1.5;
    width: 100%;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
}

.itemTitle {
    display: block;
    font-weight: bold;
    &.emphasize {
        color: #8a8a8a;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.itemValue {
    white-space: normal !important;
    word-wrap: break-word !important;
    &.emphasize {
        font-weight: 900;
        color: #189ad1;
        text-transform: uppercase;
    }
}