.container {
    max-width: 350px;
    padding-right: 20px;
}

.item {
    line-height: 1.5;
    width: 100%;
    padding: 5px;
}

.itemTitle,
.itemValue {
    display: block;
}

.itemTitle {
    color: #000000;
    font-weight: bold;
    &.emphasize {
        color: #6a6a6a;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.itemValue {
    &.emphasize {
        font-weight: 900;
        color: #189ad1;
        text-transform: uppercase;
    }
}