.CalendarDay__selected_span {
    background: #54bee7;
    border: 1px solid #3bb5e3;
    color: #fff;
}

.CalendarDay__selected_span:hover {
    background: #23ace0;
    border: 1px solid #0ba3dd;
    color: #fff;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
    background: #0ba3dd;
    border: 1px solid #0ba3dd;
    color: #fff;
}

.DateInput {
    width: 100px;
    background-color: transparent;
}

.DateInput_input {
    font-size: 14px;
    padding-right: 0;
    background-color: transparent;
}

.DateInput_input__focused {
    border-bottom: 2px solid #07729a;
}

.DayPickerKeyboardShortcuts_show__bottomRight {
    border-top: 26px solid transparent;
    border-right: 33px solid #23ace0;
    bottom: 0;
    right: 0;
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover {
    border-right: 33px solid #0ba3dd;
}

.DateRangePickerInput_calendarIcon_svg {
    fill: #0BA3DD;
}

.DateRangePickerInput {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.DateRangePicker {
    display: block;
}