.container {
    padding: 0 80px 120px;
}

.about {
    display: flex; // justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.info {
    max-width: 250px;
}

.infoItem {
    margin-bottom: 15px;
    line-height: 1.7;
}

.infoItemHeader {
    color: #2db34b;
    font-weight: 700;
}