.cardContainer {
    width: 100%;
    background: #fafafa;
    box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.4);
    max-height: 600px;
    overflow: hidden; // overflow-y: scroll;
}

.header {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 15px 5px;
    width: 100%;
    font-weight: 700;
    text-align: left;
    vertical-align: middle;
}

.cardTitle {
    display: block;
    font-size: 16px;
    color: #2db34b;
    line-height: 1.5;
}

.cardSubtitle {
    color: #8a8a8a;
    font-size: 11px;
    font-weight: 700;
}

.cardItem {
    line-height: 1.5;
    padding: 10px 15px 5px;
    &.noTopPadding {
        padding-top: 0;
    }
    &.noPadding {
        padding: 0;
    }
}

.cardItemTitle {
    font-weight: 700;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #8a8a8a;
    text-transform: uppercase;
    &.small {
        text-transform: capitalize;
        font-family: 'Open Sans', sans-serif;
        color: #555555;
    }
    &.collapsible {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &.closed:after {
        content: '';
        width: 0;
        height: 0;
        margin-left: 5px;
        border-top: 3px solid transparent;
        border-left: 6px solid #555;
        border-bottom: 3px solid transparent;
    }
    &.open:after {
        content: '';
        width: 0;
        height: 0;
        margin-left: 5px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid #555;
    }
}

.cardItemContent {
    color: #189ad1;
    display: table;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    &.big {
        font-size: 24px;
        font-weight: 700;
    }
    &.green {
        color: #2db34b;
    }
    &.small {
        text-transform: capitalize;
        font-family: 'Open Sans', sans-serif;
        color: #555555;
        font-size: 11px;
    }
    &.icon {
        padding-top: 10px;
    }
}

.cardItemIcon {
    display: table-cell;
    width: 37px;
}

.cardItemCaption {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
}

.cardItemLink {
    cursor: pointer;
    color: #2db34b;
    font-size: 10px;
}

.issueImgHolder {
    position: relative;
    height: 95px;
    background-color: #f2f2f2;
    border: 1px solid #189ad1;
    width: 100%;
    overflow: hidden;
}

.issueImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -40%;
}

.showIssueImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 154, 209, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    color: #ffffff;
    cursor: pointer;
}

.serviceName {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 0 15px;
    border-bottom: 1px solid #c3c3c3;
}

.item {
    border-bottom: 1px solid #c3c3c3;
    padding: 10px 0;
}

$border-color: rgba(black, .3);
.timeline {
    max-height: 120px;
    overflow-y: scroll;
    text-transform: none;
    color: #555555;
    padding: 5px;
    display: none;
    &.open {
        display: block;
    }
}

.timelineItem {
    padding-top: 30px;
    padding-left: 15px;
    line-height: 1.7;
    position: relative;
    color: rgba(black, .7);
    border-left: 2px solid $border-color;
    &::before {
        content: attr(date-is);
        position: absolute;
        top: 8px;
        display: block;
        font-family: 'Montserrat', sans-serif;
        color: #818a91;
    }
    &::after {
        width: 10px;
        height: 10px;
        display: block;
        top: 1em;
        position: absolute;
        left: -7px;
        border-radius: 10px;
        content: '';
        border: 2px solid $border-color;
        background: white;
    }
    &:last-child {
        border-image: linear-gradient( to bottom, $border-color 60%, rgba($border-color, 0)) 1 100%;
    }
}

.timelineContent {
    display: block;
}