.menuItem {
    display: block;
    color: #555555;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 0px 20px 20px;
}

.menuLocaleItem {
    display: inline-block;
    color: #555555;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 10px;
    cursor: pointer;
    width: 40px;
}

.menuItem:hover,
.menuItem:active {
    color: #0BA3DD;
}

.menuItem.selected {
    color: #0BA3DD;
}

@media screen and (min-width:750px) {
    .menuItem {
        display: inline-block;
        border-bottom: 2px solid white;
        padding: 0 12px;
    }
}