$brand-color:#189ad1;
.header {
    position: fixed;
    background-color: #ffffff;
    z-index: 600;
    height: 55px;
    width: 100%;
    &.transparent {
        background-color: rgba(255, 255, 255, 0.78);
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.contentBorder {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #189ad1, #2db34b);
}

.logoContainer {
    display: flex;
    align-items: center;
    height: 55px;
    overflow: hidden;
}

.logo {
    width: 90px;
    max-height: 50px;
}

.menu {
    list-style-type: none;
    height: 100%;
    padding-left: 15px;
}

.horizontalMenu {
    display: none;
}

.sideMenu {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    &.hide {
        display: none;
    }
}

.sideMenuBtn {
    display: block;
    text-decoration: none;
}

.sideMenuRight {
    width: 70%;
    background: #fafafa;
    height: 100%;
}

.sideMenuLeft {
    width: 30%;
    height: 100%;
}

.closeSideMenu {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding-top: 17px;
    padding-right: 15px;
    margin-bottom: 50px;
}

@media screen and (min-width:750px) {
    .content {
        padding-left: 80px;
        padding-right: 80px;
    }
    .sideMenuBtn {
        display: none;
    }
    .horizontalMenu {
        display: block;
    }
    .logo {
        width: 150px;
    }
}