$brand-color:#0BA3DD;
.header {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.78);
    z-index: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    height: 55px;
    width: 100%;
}

.logoContainer {
    display: flex;
    align-items: center;
    height: 55px;
    overflow: hidden;
}

.logo {
    width: 90px;
}

.offcanvasMenu {
    display: block;
}

.offcanvasBtn {
    display: block;
    font-size: 25px;
}

.menu {
    list-style-type: none;
    height: 100%;
    padding-left: 15px;
}

.menuItem {
    display: block;
    color: #000000; // text-transform: uppercase;
    font-weight: 700;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid white;
    text-decoration: none;
    &:hover,
    &:active {
        color: inherit;
        border-bottom: 2px solid $brand-color;
    }
}

.horizontalMenu {
    display: none;
}

@media screen and (min-width:750px) {
    .offcanvasMenu {
        display: none;
    }
    .horizontalMenu {
        display: block;
    }
    .menuItem {
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
    }
    .logo {
        width: 150px;
    }
}