.status {
    padding: 4px 5px;
    border: 1px solid #c3c3c3;
    color: #afafaf;
    margin-right: 5px;
    text-align: center;
    flex: 1;
    cursor: pointer;
    white-space: nowrap;
    &.selected {
        background: #026AA7;
        border: 1px solid #026AA7;
        color: white;
    }
    &:first-child {
        border-left: 1px solid #c3c3c3;
    }
    &.selected:first-child {
        border-left: 1px solid #026AA7;
    }
}