.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.titleLabel {
    color: #2db34b;
    font-weight: 700;
}

.item {
    width: 25%;
    text-align: center;
    padding-top: 2.5rem;
}

.iconContainer {
    height: 150px;
}

.icon {
    width: 70px; // height: 100%;
    color: inherit;
}

.itemName {
    font-weight: bold;
    padding-top: 0.5em;
}

.itemValue {
    font-size: 2rem;
    padding-top: 7px;
    font-size: 1.7rem;
    padding: 0.2em 0 1em;
    color: #2db34b;
}