@mixin marker-image($color) {
    // background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$color}" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-4.2 0-8 3.4-8 7.6 0 4.2 3.5 9.2 8 16.4 4.5-7.2 8-12.2 8-16.4 0-4.2-3.8-7.6-8-7.6zm0 11c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3z"/></svg>');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 0c-4.2 0-8 3.4-8 7.6 0 4.2 3.5 9.2 8 16.4 4.5-7.2 8-12.2 8-16.4 0-4.2-3.8-7.6-8-7.6zm0 11c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3z'/%3E%3C/svg%3E");
}

.customMarker {
    background: url('/images/marker.png') center center/100% no-repeat;
    width: 25px !important;
    height: 40px !important;
}

.marker-189ad1 {
    @include marker-image(189ad1);
    background-repeat: no-repeat;
    width: 20px !important;
    height: 25px !important;
}

.marker-a186be {
    @include marker-image(a186be);
    background-repeat: no-repeat;
    width: 20px !important;
    height: 25px !important;
}

.marker-a3d39c {
    @include marker-image(a3d39c);
    background-repeat: no-repeat;
    width: 20px !important;
    height: 25px !important;
}

.marker-e99467 {
    @include marker-image(e99467);
    background-repeat: no-repeat;
    width: 20px !important;
    height: 25px !important;
}

.marker-e5d254 {
    @include marker-image(e5d254);
    background-repeat: no-repeat;
    width: 20px !important;
    height: 25px !important;
}

.marker-fbaf5d {
    @include marker-image(fbaf5d);
    background-repeat: no-repeat;
    width: 20px !important;
    height: 25px !important;
}

.marker-f69597 {
    @include marker-image(f69597);
    background-repeat: no-repeat;
    width: 20px !important;
    height: 25px !important;
}

.marker-6dcff6 {
    @include marker-image(6dcff6);
    background-repeat: no-repeat;
    width: 20px !important;
    height: 25px !important;
}