.leaflet-container {
    width: 100%;
    min-height: 900px;
    margin-top: 59px;
}

.iconWTH {
    background-color: #D32F2F;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconLW {
    background-color: #C62828;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconWL {
    background-color: #AD1457;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconMP {
    background-color: #6A1B9A;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconSL {
    background-color: #00838F;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconWQ {
    background-color: #0277BD;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconNW {
    background-color: #1A237E;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconRO {
    background-color: #C9D13C;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconWaterLeakage {
    background: #AD1457;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconBilling {
    background: #0D47A1;
    border: 1px solid #666;
    border-radius: 50%;
}

.iconWaterShortage {
    background: #C62828;
    border: 1px solid #666;
    border-radius: 50%;
}

.customMarker {
    background: url('/images/marker.png') center center/100% no-repeat;
    width: 25px !important;
    height: 40px !important;
}